doctype html
html
	head
	link(rel='stylesheet', href='../style.css')
	body
		#nav
			a(href='/') Home

			a(href='/search') Search

			a(href='/submit-user') Submit

	h2 users
each user in users
	h2=user.firstname
    
