doctype html
html
    head
    link(href='../style.css', rel='stylesheet')
    body
        #nav
            a(href='/') Home

            a(href='/search') Search

            a(href='/submit-user') Submit

        h1= title
        form(name="add-estimation", action="/submit-user", method="post")
            div.input
                span.label Firstname:  
                input(type="text", name="firstname")
            div.input
                span.label Lastname:  
                input(type="text", name="lastname")
            div.input
                span.label Email:  
                input(type="text", name="email")
            div.actions
                input(type="submit", value="submit")
        a(href="http://localhost:3000") Landing page